---
---

// TODO: Serve our own copies of the fonts? A lot of people will have it cached.
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600);

@import "bootstrap/normalize";

@font-face {
		font-family: sandstorm;
		src: url(/fonts/sandstorm.woff);
}

// =======================================================================================
// Reusable Mixins

@mixin stripe {
  // Makes a stripe behind this element extending to both edges of the viewport. You can customize
  // vertical positioning (top, bottom) and background color, e.g.:
  //
  // @include stripe {
  //   top: 10px;
  //   background-color: purple;
  // }

  position: relative;
  &::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;

    left: calc(50% - 50vw);
    width: 100vw;
    z-index: -1;

    @content;
  }
}

@mixin stripe-left {
  // Like "stripe" but only extends to the left of the element.

  @include stripe {
    left: auto;
    right: 100%;
    width: calc(50vw - 50%);  // half viewport width minus half container width
    @content;
  }
}

@mixin stripe-right {
  // Like "stripe" but only extends to the right of the element.

  @include stripe {
    left: 100%;
    width: calc(50vw - 50%);  // half viewport width minus half container width
    @content;
  }
}

$purple-band: #eee;
$lightpurple-band: #F6F2FC;
$default-fontcolor: #302851;
$whitebutton-border: #a19cbc;
$whitebutton-hover: #f1ebff;
$purplebutton-bg: #442672;
$purple-link: #5b4f8c;
$purple-highlight: #7757bc;
$purplehover-bg: #6341a5;
$header-bg: #2e2765;
$lightpurple-text: #c8b5e5;

// =======================================================================================

* {
  // Make the box model match what you'd expect: padding and border are counted in "width".
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: $default-fontcolor;

  // Some elements have stripes extending out from the edge of their container to the edge of the
  // screen. We precisely calculate how large these stripes should be based on the viewport width.
  // Unfortunately the viewport width does not include the vertical scroll bar, if there is one,
  // and as a result as soon as a vertical scrollbar appears, a horizontal one will appear too,
  // just so that we can see the damned stripes. So, we explicitly disable horizontal scrolling to
  // prevent this.
  overflow-x: hidden;
}

body>* {
  // 1px top padding prevents margin collapsing. We can't use overflow: hidden because it hides our
  // stripes.
  padding: 1px 30px 0;
  margin: 0 auto;
  width: auto;
  max-width: 1200px;
  
  @media (max-width: 800px) {
    padding: 1px 20px 0;  
  }
}

h1 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $purple-link;
  font-weight: normal;

    &:hover {
      color: $purple-highlight;
    }
}

strong {
	font-weight: 500;
}

// =======================================================================================
// _layout/page.html

body>nav {
  height: 48px;
  text-align: right;
  font-size: 16px;

  >a {
    display: inline-block;
    height: 100%;
    padding: 0 15px;
    line-height: 48px;
    font-weight: 300;
    color: $default-fontcolor;

    &:first-child {
      float: left;
    }

    &:hover {
      background-color: #f8f8ff;
      color: #18003f;
    }

    @media (max-width: 500px) {
      &[href="/blog"] { display: none; }
      &[href="/features"] { display: none; }
    }
    @media (max-width: 800px) {
      &[href="/get"] { display: none; }
      &[href="/community"] { display: none; }
    }
  }
}

body#home>nav>a[href="/"] { font-weight: 500; }

body>nav>a[href="/"] {
	&::before {
		font-family: sandstorm;
		display: inline-block;
		float: left;
		content: "\e906";
		font-size: 26px;
		line-height: 45px;
		padding: 0 5px 0 0;
	}
}

body#get>nav>a[href="/get"] { font-weight: 500; }
body#features>nav>a[href="/features"] { font-weight: 500; }
body#how-it-works>nav>a[href="/how-it-works"] { font-weight: 500; }
body#blog>nav>a[href="/news/"] { font-weight: 500; }
body#community>nav>a[href="/community"] { font-weight: 500; }
body#about>nav>a[href="/about"] { font-weight: 500; }

body>header {
  min-height: 180px;
  color: white;

  p {
    text-align: center;
    font-size: 22px;
    padding: 0 0 20px 0;
    color: $lightpurple-text;
  }
}

body>section {
  h2 {
    margin: 50px 0 20px 0;
    text-align: center;
    font-size: 36px;
  }
  h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
  }
  >ul {
    list-style: none;
  }
}

body >footer {
  padding-bottom: 1px;  // prevent margin-collapse
  
  @include stripe {
    background-color: lavender;
  }
  
  .subscribe-small {
    width: 90%;
    height: 33px;
  
    input[type="email"] {
      float: left;
      height: 33px;
      width: 70%;
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
      outline: 0;
    }

    input[type="submit"] {
      float: right;
      width: 30%;
      height: 33px;
      background: #2e2765;
      border: 1px solid $purple-highlight;
      padding: 0;
      font-size: 1em;
      color: #fff;
      cursor: pointer;
      outline: none;
      transition: transform 0.75s ease, background 0.35s ease;

      &:hover {
        background: $purple-highlight;
      }
    }
  }
  
	ul {
			
		h3, h3 a {
			text-decoration: none;
			font-weight: normal;
			color: $default-fontcolor;
		}
			
    li a {
      text-decoration: none;

      &:hover {
      color: $purple-highlight;
      }
    }
    
		.sign-in-footer {
		
		  a {
		  	text-align: center;
		  	color: $default-fontcolor;
		  	border-radius: 4px;
		  	display: block;
		  	position: absolute;
		  	width: 150px;
		  	height: 40px;
		  	line-height: 40px;
		  	font-size: 20px;
		  	border: 1px solid $purple-link;
		  	background-color: #F6F6FF;
		  	transition: transform 0.75s ease, background 0.35s ease;

  			&:hover {
	  			color: $purple-highlight;
		  		background-color: #fff;
			  }
		  }
		}
	}
  
  >p {
    text-align: center;
    font-style: italic;
  }
    
  >ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
    >li {  
      display: block;
			justify-content: space-between;
      flex: 1 1 33%;

      @media (max-width: 800px) {
        flex: 1 1 50%;
      }
      
      @media (max-width: 550px) {
        flex: 1 1 100%;
      }

      >ul {
        padding: 0;
        
        >li {
          display: block;
        }
      }
    }
  }
}

.action {
  text-align: center;
  padding: 35px 0;

  @include stripe {
    background-color: #F4F3FB;
  }
    li {
      font-size: 25px;
      padding: 0 20px;
      list-style: none;
      display: inline;
      
      @media (max-width: 800px) {
        display: block;
        padding-bottom: 25px;
      }
    }

    >a {
      border: 1.5px solid $whitebutton-border;
      font-size: 25px;
      padding: 8px 20px;
      width: 300px;
      border-radius: 6px;
      background-color: white;
      color: $purplebutton-bg;
      &:hover {
        color: #7356cc;
      }
      white-space: nowrap;
    }
}

#socialmedia-small {
			
    ul {
      width: 100%;
    }

    li {
      display: inline-block;
      width: 20px;
      position: relative;
      text-align: left;
			font-size: 16px;
      margin: 0 10px;
			
			a {
				display: inline-block;
				width: 100%;
				position: relative;
				text-align: center;
					
				&::before {
					font-family: sandstorm;
					display: block;
					background-repeat: no-repeat;
					height: 30px;
					font-size: 25px;
					background: bottom/contain no-repeat;
      	}
				
			a:hover::before {
					color: $purple-highlight;
			}
				
			&.twitter::before { content: "\e908"; }
			&.google::before { content: "\e904"; }
			&.facebook::before { content: "\e902"; }
			&.github::before { content: "\e903"; }				
			}
			
			a:hover:before {
				color: $purple-highlight;
			}
    }
  }

// =======================================================================================
// index.html

#home {

  >header {
    #banner {
      height: 400px;
      background-image: url(/images/home-banner.svg);
      background-position: bottom;
      background-repeat: no-repeat;

      @media (max-width: 800px) {
        height: 300px;
      }

      @media (min-width: 600px) {
        &::before {
          display: block;
          content: " ";
          float: left;
          background-image: url(/images/sandcat.svg);
          background-repeat: no-repeat;
          background-position: bottom;
          width: 320px;
          height: 400px;

          @media (max-width: 800px) {
            width: 240px;
            height: 300px;
          }
        }
      }

      @media (max-width: 400px) {
        height: 350px;
      }

      @include stripe {
        background-image: -webkit-linear-gradient(top, #1b1b3d, #613c82);
        background-color: #211f44;
      }

      >h1 {
        @media (min-width: 600px) {
          // Space for sandcat.
          padding-left: 30%;
        }
        padding-top: 100px;
        margin-top: 0;

        strong {
          color: white;
        }

        @media (max-width: 950px) {
          font-size: 38px;
        }

        @media (max-width: 850px) {
          font-size: 30px;
        }

        @media (max-width: 750px) {
          font-size: 25px;
        }
      }

      >p {
        margin-top: 35px;
        text-align: center;
        color: #c5daff;

        @media (min-width: 600px) {
          // Space for sandcat.
          padding-left: 25%;
        }

        >a {
          color: white;
          text-align: center;
          display: inline-block;
          width: 31%;
          margin: 15px;
          height: 60px;
          line-height: 60px;
          font-size: 26px;
          border-radius: 4px;

          @media (max-width: 900px) {
            font-size: 23px;
            margin: 11px;
            height: 45px;
            line-height: 45px;
          }

          @media (max-width: 800px) {
            font-size: 18px;
            margin: 8px;
            height: 40px;
            line-height: 40px;
          }

          @media (max-width: 600px) {
            font-size: 16px;
          }

          @media (max-width: 400px) {
            width: 200px;
          }
        }

        >a.sign-in {
          display: block;
          position: absolute;
          top: 16px;
          right: 16px;
          width: 150px;
          height: 40px;
          line-height: 40px;
          font-size: 20px;
          border: 1px solid #744ccc;
          transition: background 0.35s ease;

          &:hover {
            background-color: $purplebutton-bg;
          }
        }

        >a.get {
          background-image: -webkit-linear-gradient(top,  #744ccc, #613c91);
          -webkit-box-shadow: 0 3px 3px rgba(41,25,66,0.6);
          box-shadow: 0 3px 3px rgba(41,25,66,0.6);
          background-color: #613c91;

          &:hover {
            background-image: -webkit-linear-gradient(top, #955fcc, #7a3cab);
            background-color: #744ccc;
          }
        }

        >a.demo {
          background-image: -webkit-linear-gradient(top, #e67cba, #9e4997);
          -webkit-box-shadow: 0 3px 3px rgba(41,25,66,0.6);
          box-shadow: 0 3px 3px rgba(41,25,66,0.6);
          background-color: #9e4997;

          &:hover {
            background-image: -webkit-linear-gradient(top, #fd8acf, #9d57b6);  
            background-color: #e67cba;
          }
        }
      }
    }
  }

  #what {
		
    >ul {
      padding: 0;
      margin: 0;

      >li {
        display: block;
        position: relative;

        >h3 {
          font-size: 32px;
          margin: 0;
          padding: 32px 0 0;
					text-align: left;
        }

        >p {
          line-height: 200%;
        }

        // We hijack ::before to become the screenshot.
        &::before {
          display: block;
          content: " ";
          position: absolute;
          background: center/contain no-repeat;
        }
        &.create::before      { background-image: url("images/ethercalc.png"); }
        &.collaborate::before { background-image: url("images/wekan.png"); }
        &.communicate::before { background-image: url("images/rocketchat.png"); }

        @media (min-width: 750px) {
          height: 250px;
          &::before {
            width: 40%;
            height: 90%;
            top: 5%;
        }

          &:nth-of-type(odd) {
            // Screenshot goes on the right.
            padding-right: 45%;
            &::before { right: 0; }

            background: linear-gradient(to right, white, #e0d8e8);
            @include stripe-right { background-color: #e0d8e8; }
          }

          &:nth-of-type(even) {
            // Screenshot goes on the left.
            padding-left: 45%;
            &::before { left: 0; }
          }
        }

        @media (max-width: 749px) {
          // Screenshot goes on top.
          padding-top: 150px;
          &::before {
            width: 100%;
            height: 150px;
            top: 0;
          }
        }
      }
    }
  }

  .try-apps {
    text-align: center;
    font-size: 30px;
    padding: 25px 0;

    @include stripe {
      background-color: $lightpurple-band;
      background-image: url(/images/market-tent.svg);
      background-position: right bottom;
      background-repeat: no-repeat;
    }

    >a {
      border: 1.5px solid $whitebutton-border;
      padding: 14px 0;
      width: 300px;
      border-radius: 6px;
      display: inline-block;
      background-color: white;
      &:hover {
        color: #7356cc;
      }
    }
  }

  #how {

    >section {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;

      border-top: 1px solid #ddd;
      padding: 30px 0;

      >header {
        // The section heading, which looks like:
        //     Title | Subheading
        //     Some sentence about this.
        //
        // This gets hacky because we want the first line to be centered, and we want the second
        // line to have its start aligned with the start of the first line. We don't want the
        // second line to wrap unless it goes off the edge of the screen. We accomplish this by
        // making the second line "position: absolute" without specifying a position; this causes
        // its upper-left corner to be where we want it but lets it flow off to the edge of the
        // screen.

        flex: 0 1 100%;

        >div {
          display: table;
          margin: 0 auto;
          padding-top: 50px;
          font-size: 30px;

          >h3 {
            margin: 0;
            >.subheading {
              font-weight: 300;
          }

            // We hijack ::before to become the icon. We have to attach this to the <h3> rather than
            // the parent <div> because in order to absolutely-position the ::before, its direct
            // parent has to be "position: relative", but if the <div> were "position: relative" it
            // would ruin our hack that lets the second line flow off to the right.
            position: relative;
            &::before {
              display: block;
              content: " ";
              position: absolute;
              background: center/contain no-repeat;
            }
          }

          >p {
            // Second line of the heading.

            margin: 0;
            padding: 10px 0;
            color: #888;
            font-size: 18px;
            position: absolute;
          }

          @media (min-width: 750px) {
            // Wide: Icon goes to the left.
            height: 200px;
            >h3::before {
              width: 200px;
              height: 200px;
              left: -175px;
              top: -75px;
            }
          }

          @media (max-width: 749px) {
            // Mobile: Icon goes on top.
            padding-top: 150px;
            height: 300px;
            >h3::before {
              width: 100%;
              height: 150px;
              bottom: 100%;
            }
          }
        }
      }

      &.usability>header>div>h3::before { background-image: url("images/usability.svg"); }
      &.security >header>div>h3::before { background-image: url("images/security.svg"); }
      &.freedom  >header>div>h3::before { background-image: url("images/freedom.svg"); }

      >section {
        // For each section like "usability", we have two sub-sections that can go side-by-side.

        flex: 0 1 50%;
        padding: 220px 16px 0;

        strong { font-weight: normal; }

        @media (max-width: 800px) {
          // Mobile: Switch to single column.
          flex: 0 1 100%;
          padding-left: 0;
          padding-right: 0;
          >* {
            max-width: 500px;
            margin: 1em auto;
          }
        }

        @include stripe {
          height: 200px;
          top: 20px;
          bottom: auto;
          background-color: $lightpurple-band;
        }

        // We hijack ::before to become the screenshot / image.
        &::before {
          display: block;
          content: " ";
          position: absolute;
          background: center/contain no-repeat;
          width: 100%;
          height: 220px;
          left: 0;
					top: 0;
        }
				&.apps::before { background-image: url("images/home-apps.png");}
				&.grains::before { background-image: url("images/home-grains.png");}
				&.buggy-apps::before { background-image: url("images/security-protection.svg");}
				&.auditable::before { background-image: url("images/home-auditable.svg");}
				&.hosting::before { background-image: url("images/home-hosting.svg");}
				&.walled-gardens::before { background-image: url("images/home-walled-gardens.svg");}

      }
    }
  }

  #who {

    .developer div {
      padding: 0;
    }

    >h2 {
      border-bottom: 1px solid #ddd;
    }

    >section {
      padding: 0 10px;

      &::before {
        display: block;
        content: " ";
        float: left;
        background: bottom/contain no-repeat;
        width: 350px;
        height: 260px;
      }
      &.individual::before { background-image: url("images/individual.svg"); }
      &.enterprise::before { background-image: url("images/enterprise.svg"); }
      &.developer::before { background-image: url("images/developer.svg"); }

      >h3 {
        font-size: 35px;
        margin-top: 60px;
        margin-bottom: 0;
        text-align: left;
      }

      @media (max-width: 800px) {
        &::before {
          float: none;
          margin: 0 auto;
          height: 200px;
          border-bottom: 1px solid #ddd;
        }

        >h3 {
          margin-top: 10px;
          text-align: center;
        }
        
        .start {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }

      >div {
        clear: left;
        padding: 15px 0;  // prevent margin-collapse

        @include stripe {
          background-color: $lightpurple-band;
        }

        >ul {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          padding: 0;

          >li {
            margin-top: 1em;
            display: block;
            flex: 0 1 50%;

            @media (max-width: 800px) {
              flex: 1 1 100%;
            }
          }
        }

        >blockquote {
          font-size: 30px;

          text-align: center;
        }
      }
    }
  }

  #join-list {
    padding: 0 0 30px 0;

    @include stripe {
      background-color: $lightpurple-band;
    }

    input[type="text"] {
      background-color: #fff;
    }
  }

  .start {
		background-color: white;
		border: none;
		padding: 30px 0 0 0;

      a {
        text-align: center;
        color: white;
        padding: 10px 0;
        width: 200px;
        border-radius: 5px;
        display: block;
				transition: transform 0.75s ease, background 0.35s ease;
      }
  }

  .individual {
      a {
        background-color: #b21b31;
        &:hover {
          background-color: #c92333;  
        }
      }
  }   

  .enterprise {
      a {
        background-color: #202d70;
        &:hover {
          background-color: #274c96;   
        }
      }
  }

  .developer {
      a {
        background-color: #e27124;
        &:hover {
          background-color: #ed8b2b; 
        }
      }
  }
}

// =======================================================================================
// features.html

#features {
  header {
    max-width: none;
    padding: 1px 0 0 0;

    @include stripe {
      background-color: #2e2765;
    }

    >div {
       background-color: #e6e5ea;

      >nav {
        height: 48px;
        font-size: 20px;
        text-align: center;
        width: 100%;
        
        display: flex;

        >a {
          display: block;
          flex: 1 1 33%;
          text-align: center;
          font-weight: normal;
          height: 100%;
          line-height: 48px;
          width: 33%;
          
          background-color: #e6e5ea;

          &:hover {
            background-color: #f4f4f4;
          }

          @media (max-width: 810px) {
            display: inline-block;
            width: 32.5%;
          }
          @media (max-width: 450px) {
            font-size: 18px;
          }
          @media (max-width: 400px) {
            font-size: 13px;
            width: 31%;
          }
        }
      }
    }
  }
  
  .start {
    height: 60px;
    padding-top: 40px;
    border: none;
    background-color: white;
    display: block;
    width: 100%;

    a {
      text-align: center;
      float: right;
      color: white;
      padding: 10px 0;
      width: 240px;
      border-radius: 5px;
      display: block;
      transition: transform 0.75s ease, background 0.35s ease;
      background-color: #2e2765;
      
      &:hover {
        background-color: $purplehover-bg;
      }
    }
  }

  >section>ul {
    padding: 0;
  }
  
  p {
    font-size: 16px;
    line-height: 20px;
  }
  
  .current {
    background-color: #ffffff;
    &::after { display: none; }
  }

  #core, #security, {
    display: inline-block;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;

    h3 {
      text-align: left;

      @media (max-width: 800px) {
        width: 100%;
        text-align: center;
      }
    }

    li {
      text-align: left;
      width: 46%;
      padding: 0 0 50px 0;

      @media (max-width: 800px) {
        width: 100%;
      }

      &::before {
        content: " ";
        display: block;
        background-repeat: none;
        height: 180px;
        background: bottom/contain no-repeat;
      }
      @include stripe {
        background-color: #edf2f9;
        height: 180px;
      }

      &.choose-host::before { background-image: url("images/core-choose-host.svg"); }      
      &.apps-growing::before { background-image: url("images/core-apps-growing.svg"); }
      &.single-sign-on::before { background-image: url("images/core-single-sign-on.svg"); }
      &.unified-sharing::before { background-image: url("images/core-unified-sharing.svg"); }
      &.powerbox::before { background-image: url("images/core-powerbox.svg"); }
      &.protection::before { background-image: url("images/security-protection.svg"); }
      &.sandboxing::before { background-image: url("images/security-sandboxing.svg"); }
      &.auditable::before { background-image: url("images/security-auditable.svg"); }
      &.authentic::before { background-image: url("images/security-authentic.png"); }
      &.automatic::before { background-image: url("images/security-automatic.svg"); }
    }
		}
  }
  
  #more {
    display: inline-block;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
    
    h3 {
      text-align: center;
    }

    li {
      text-align: left;
      width: 28%;
      padding: 0 0 50px 0;

      @media (max-width: 800px) {
        width: 46%;
        padding: 0 10px;
      }
      
      @media (max-width: 600px) {
        width: 100%;
      }

      &::before {
        content: " ";
        display: block;
        background-repeat: none;
        height: 150px;
        background: bottom/contain no-repeat;
      }

      &.tabbed::before { background-image: url("images/more-tabbed.png"); }
      &.backups::before { background-image: url("images/more-backups.svg"); }
      &.notifications::before { background-image: url("images/more-notifications.svg"); }
      &.mentions::before { background-image: url("images/more-mentions.png"); }
      &.search::before { background-image: url("images/more-search.svg"); }
      &.connected::before { background-image: url("images/more-connected.svg"); }
    }
  }

  #business-scale {
    text-align: center;
    
    .row {
      width: 100%;
      height: 280px;
      
      .content {
        width: 40%;
        text-align: left;
        padding-top: 20px;
        
        h3 {
          text-align: left;
        }
      }
      
      .image {
        display: block;
        content: " ";
        background: bottom/contain no-repeat;
        height: 80%;
        width: 60%;
        position: absolute;
        right: 0px;
        top: 20px;
      }     
    }

    .on-prem {
      &::after { display: none; }
      .image {
        background-image: url("images/business-onprem.svg");
        top: 0;
        right: -20%;
        width: 80%;
        
        @media (max-width: 750px) {
          width: 100%;
          display: block;
        }
      }
    }
    .audit {
      &::after { display: none; }    
      .image {
        background-image: url("images/business-audit.svg");
        top: 0;
        right: -20%;
        width: 80%;
        
        @media (max-width: 750px) {
          width: 100%;
          display: block;
        }
      }
    }
    
    .ldap, .group, {
      width: 50%;
      &::after { display: none; }
      @media (max-width: 700px) {
        width: 100%;
      }
    }
    
    .failover, .encryption, {
      width: 50%;
    }

    ul {
      width: 100%;
      float: center;
      display: inline-block;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      list-style: none;
        li {
          width: 100%;
          padding: 0 0 50px 0;

					&::before {
						content: " ";
						display: block;
						background-repeat: none;
						height: 180px;
						background: bottom/contain no-repeat;
					}

					@include stripe {
						background-color: #edf2f9;
						height: 180px;
					}

					&.on-prem::before { display: none; }

					&.ldap::before { 
						background-image: url("images/business-ldap.svg"); 
					}
					&.group::before { background-image: url("images/business-group.svg"); }
					&.global::before { 
						background-image: url("images/business-global.svg");
					}
					&.audit::before { display: none; }
					&.scale-out::before { background-image: url("images/business-scale-out.svg"); }
					&.failover::before { background-image: url("images/business-failover.svg"); }
					&.encryption::before { background-image: url("images/business-encryption.svg"); }
			}
    }
  }

  #dev {
		display: inline-block;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
		
		h3 {
      text-align: left;

      @media (max-width: 800px) {
        width: 100%;
        padding: 0 10px;
        text-align: center;
    	}
		}
		
		li {
			display: inline-block;
			text-align: left;
			width: 46%;
			position: relative;
      padding: 0 0 50px 0;

			@media (max-width: 800px) {
				width: 100%;
			}

			&::before {
				content: " ";
				display: block;
				background-repeat: none;
				height: 180px;
				background: bottom/contain no-repeat;
			}
			@include stripe {
				background-color: #edf2f9;
				height: 180px;
			}
			&.linux::before { background-image: url("images/developer-linux.svg"); }
			&.runtime::before { background-image: url("images/developer-runtime.svg"); }
			&.boilerplate::before { background-image: url("images/developer-boilerplate.svg"); }
			&.dev-ops::before { background-image: url("images/developer-dev-ops.svg"); }
			&.integration::before { background-image: url("images/developer-integration.svg"); }
			&.in-app::before { background-image: url("images/coming-soon.svg"); }
			}
		.integration, .in-app, {
			width: 100%;
			h3, p, {
				text-align: center;
			}
		}
}
// =======================================================================================
// get.html

#get {
  header {
    @include stripe {
      background-color: #2e2765;
      background-image: url(/images/header-get.svg);
      background-repeat: no-repeat;
      background-position: bottom;
      padding: 0 75% 0 0;
    }

    >nav {
      height: 48px;
      text-align: center;
      font-size: 16px;
    }
  }

  #pricing {
    text-align: center;

    ul {
      padding: 0;

      li {
        list-style: none;
        display: block;
      }
    }

  p strong {
    font-size: 35px;
  }

  #hosting {
    padding: 20px 0;
  }
		
	.plans {
		padding: 30px 0 0 0;
		display: flex;
	}

  .plan1, .plan2, {
    display: inline-block;
    background: white;
    padding: 0;
    text-align: center;
    border: 1px solid #8c72b5;
    border-radius: 5px;
    margin: 0 2% 20px 0;
    width: 30%;
    position: relative;
    color: #684599;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);

    @media (max-width: 750px) {
      width: 45%;
    }

    @media (max-width: 500px) {
      width: 100%;
    }

    strong {
      color: #4f3070;
    }

    .title {
      background-color: #ebe7f7;
      padding: 15px 0;
      border-radius: 5px 5px 0px 0px;
			
			p {
				min-height: 80px;
			}
			
      strong {
        font-size: 30px;
      }
    }
    .price {
      border-bottom: 1px solid #b6b6d8;
			padding: 10px 0;
      strong {
        font-size: 40px;
      }
    }
    .storage {
      border-bottom: 1px solid #b6b6d8;
			padding: 10px 0;
      strong {
        font-size: 30px;
      }
    }
    .grains {
      font-size: 20px;
			padding: 10px 0 0 0;
    }
    .get {
      border-radius: 0px 0px 5px 5px;
      padding: 10px 0;
    }

    a {
      color: white;
      font-size: 20px;
      border-radius: 5px;
      display: inline-block;
      background-color: $purplebutton-bg;
      width: 95%;
      padding: 12px 0;
      &:hover {
        background-color: $purplehover-bg;
      }
    }
  }
    
  .plan2 {
    margin: 0 2% 0 2%;
    width: 45%;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		
		@media (max-width: 700px) {
      width: 100%;
    }
		
    .title {
      padding: 15px 15px 0 10px;
      border-bottom: 1px solid #b6b6d8;
      background: #edf2f9;
			color: #202d70;
      strong {
        font-size: 30px;
				color: #202d70;
      }
      img {
        height: 150px;
      }
    }
    .price {
      border-bottom: 1px solid #b6b6d8;
      strong {
        font-size: 30px;
				color: #202d70;
      }
    }
    .storage {
      border-bottom: 1px solid #b6b6d8;
      strong {
        font-size: 30px;
				color: #202d70;
      }
    }
		.grains {
			color: #202d70;
		}
    a {
      color: white;
      font-size: 20px;
      border-radius: 5px;
      display: inline-block;
      background-color: #202d70;
      width: 95%;
      padding: 15px 0;
      &:hover {
        background-color: #274c96;
      }
    }
  }
  }
}

// =======================================================================================
// how-it-works.html

#how-it-works {
  header {
		text-align: center;

		@include stripe {
			background-color: #2e2765;
		}

		p {
			padding-bottom: 0;
		}

		.containerize {
			display: flex;
			justify-content: space-between;

			.left {
				width: 40%;
			}
			.right {
				width: 10%;
			}
		}
  }
  
  #pseudo-acls {
    padding-bottom: 60px;
  }
  
	#intro {
		display: flex;
		flex-flow: row;
		padding: 30px;

    >ul {
			flex: 0 0 500px;
			border: 0 solid #aaa6b2;
			border-right-width: 1px;
			padding-right: 30px;
			margin: 0;

      ul>li { margin: 1em 0; }
    }

    ul {
      list-style: none;
    }

    >div {
      flex: 1 1 auto;
      padding-left: 30px;
      ul {
        list-style: disc;
      }
      >p:first-child { margin-top: 0; }
    }

    @media (max-width: 899px) {
      flex-flow: column;
      >ul {
        flex: 1 1 auto;
        border-right-width: 0;
        border-bottom-width: 1px;
        padding-right: 0;
        padding-bottom: 30px;
      }

      >div {
        padding-left: 0;
        padding-top: 20px;
      }
    }
  }

  #grains img {
    width: 50%;

    @media (max-width: 700px) {
      width: 80%;
    }
  }

  #different {
    padding: 35px 10px;


    @include stripe {
    background-color: #eee9f4;
    }

    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }

  #grains,#capabilities, {
    h2 {
      font-size: 35px;
      padding: 25px 0;
      margin: 0;
      @include stripe {
      background-color: #eee9f4;
      }
    }
    h3 {
      border-bottom: 1px solid #ddd;
      font-size: 35px;
      text-align: left;

      @media (max-width: 450px) {
        font-size: 20px;
      }
    }
  }
  
  #capabilities {
    p img {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #grains .models {
    text-align: center;

    img {
      height: 250px;
      width: auto;
      max-width: 45%;    
    }
  }
  #confinement {
    img {
      width: 50%;
      border: 0;
    }
  }
}

// =======================================================================================
// blog.html

#blog {
  header {
    @include stripe {
    background-image: -webkit-linear-gradient(top, #531e49, #af7f9f);
    background-color: $header-bg;
    }
  }
  
  .sand {
    min-height: 180px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url(images/header-blog.svg);
  }
}

  
// =======================================================================================
// about.html

#about {
	>header {
		@include stripe {
			background-color: #2e2765;
			background-image: url(/images/header-about.svg);
			background-repeat: no-repeat;
			background-position: bottom;
		}
	}

	.story {
		width: 90%;
		p {
			padding: 0 0 40px 0;
		}
	}

	#team, #advisors, #sponsors {

		li h3 {
			border-bottom: 1px solid #ddd;
			margin: 7px 0 5px 0;
			text-align: left;
		}

		h4 {
			margin: 0;
		}

		p {
			font-size: 16px;
			float: left;
		}

		h5 {
			display: block;
			font-weight: lighter;
		}

		>ul {
			width: 100%;
			padding: 0px;
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;

			>li {
				flex: 0 1 50%;
				position: relative;
				padding: 40px 16px 0;

				&::before {
					display: block;
					content: " ";
					float: left;
					background-repeat: no-repeat;
					height: 80px;
					width: 100px;
					background: bottom/contain no-repeat;
					background-position: left;
					background-color: #fff;
				}

				&.kenton::before { background-image: url("images/people/kenton.png"); }
				&.jade::before { background-image: url("images/people/jade.png"); }
				&.jason::before { background-image: url("images/people/jason.png"); }
				&.david::before { background-image: url("images/people/david.png"); }
				&.asheesh::before { background-image: url("images/people/asheesh.png"); }
				&.nena::before { background-image: url("images/people/nena.png"); }
				&.drew::before { background-image: url("images/people/drew.png"); }
				&.garply::before { background-image: url("images/people/garply.png"); }
				&.swetland::before { background-image: url("images/people/swetland.png"); }
				&.lutomirski::before { background-image: url("images/people/luto.png"); }
				&.nagra::before { background-image: url("images/people/jasvir.png"); }
				&.seaborn::before { background-image: url("images/people/seaborn.png"); }
				&.miller::before { background-image: url("images/people/miller.png"); }
				&.wagner::before { background-image: url("images/people/wagner.png"); }
				&.tang::before { background-image: url("images/people/audrey.png"); }
			}

			@media (max-width: 800px) {
				margin: 0;
				>li {
					flex: 1 1 100%;
				}
			}
		}
	}

	#contributors {
		padding-bottom: 20px;  // prevent margin collapse

		ul { 
			line-height: 32px;
			padding: 20px 0 100px 0;
			border: 1px solid $lightpurple-text;
			background-color: $lightpurple-band;
			overflow-y: auto;
			padding: 16px;
                        height: 500px;

                        display: flex;
                        flex-flow: row;
                        flex-wrap: wrap;

			li {
                                flex: 0 0 218px;
                                &.long {
                                  flex: 0 0 436px;
                                }

                                margin: 0;
				text-overflow: ellipsis;
                                white-space: nowrap;
				overflow: hidden;
                        }
		}
	}

	#corporate {
		ul {
			width: 100%;
			padding: 0px;
			margin: 0px;
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		li {
			display: inline-block;
			width: 25%;
			padding: 15px 15px;
			position: relative;

			&::before {
			content: " ";
			display: block;
			background-repeat: no-repeat;
			height: 200px;
			background: center/contain no-repeat;
			}
			&.drawio::before { background-image: url("thirdparty/draw.io-logo.svg"); }
			&.humanweb::before { background-image: url("thirdparty/humanweb.png"); }
			&.uniregistry::before { background-image: url("thirdparty/uniregistry.svg"); }
			}

		#anonymous {
			display: block;
		}
	}
}

// =======================================================================================
// community.html

#community {

  >header {

    @include stripe {
      background-color: #2e2765;
      background-image: url(/images/header-community.png);
      background-repeat: no-repeat;
      background-position: bottom left;
      }
  }

  >section>ul {
    padding: 0;
  }

  #socialmedia {
			
    ul {
      width: 100%;
			display: flex;
			justify-content: space-between;
    }

		li {
			width: 12.5%;
			display: inline-block;
			
			@media (max-width:800px) {
				width: 25%;
			}
			
			@media (max-width:500px) {
				width: 50%;
			}
			
			a {
				display: inline-block;
				width: 100%;
				position: relative;
				text-align: center;

				&::before {
					font-family: sandstorm;
					display: block;
					background-repeat: no-repeat;
					height: 55px;
					font-size: 50px;
					padding-top: 30px;
					background: bottom/contain no-repeat;
				}

				&.twitter::before { content: "\e908"; }
				&.google::before { content: "\e904"; }
				&.facebook::before { content: "\e902"; }
				&.github::before { content: "\e903"; }
				&.livechat::before { content: "\e905"; }
				&.inperson::before { content: "\e907"; }
				&.devgroup::before { content: "\e901"; }
				&.youtube::before { content: "\e909"; }
			}
			a:hover:before {
				color: $purple-highlight;
			}
		}
	}
	

  #helpothers, #helpproject, {

    ul {
      padding: 0px;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      float: center;
    }

    li {
      display: inline-block;
      width: 33%;
      padding: 15px 15px;
      position: relative;

      @media (max-width: 800px) {
        width: 48%;
      }

      @media (max-width: 500px) {
        width: 100%;
      }

      &::before {
      content: " ";
      display: block;
      background-repeat: no-repeat;
      height: 200px;
      background: bottom/contain no-repeat;
      }
      &.share::before { background-image: url("images/help-share.svg"); }
      &.talk::before { background-image: url("images/help-talk.svg"); }
      &.discuss::before { background-image: url("images/help-discuss.svg"); }
      &.build::before { background-image: url("images/help-build.svg"); }
      &.write::before { background-image: url("images/help-write.svg"); }
      &.package::before { background-image: url("images/help-package.svg"); }
      &.feedback::before { background-image: url("images/help-feedback.svg"); }
      &.design::before { background-image: url("images/help-design.svg"); }
      &.usability::before { background-image: url("images/help-usability.svg"); }
      &.documentation::before { background-image: url("images/help-documentation.svg"); }
      &.core::before { background-image: url("images/help-core.svg"); }
    }

    p {
        font-size: 16px;
    }
  }
}

// =======================================================================================
// subscription styling

.subscribe {
  margin: auto;
  width: 50%;
  height: 40px;

  @media (max-width: 800px) {
    width: 80%;
  }
  
  @media (max-width: 550px) {
    width: 90%;
  }

  input[type="email"] {
    float: left;
    height: 40px;
    width: 70%;
    border: 1px lavendar;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFF;
  }

  input[type="submit"] {
    float: right;
    width: 30%;
    height: 40px;
    background: #2e2765;
    border: 1px solid $purple-highlight;
    padding: 0;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: transform 0.75s ease, background 0.35s ease;

    &:hover {
      background: $purple-highlight;
    }
  }
}

.email {
  list-style: none;
  text-align: center;
  padding: 20px 0;
  color: #4d4c84;

  li {
    font-size: 24px;
    padding: 0 20px;
    list-style: none;
    display: inline;
  }
}
