@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"),
      url(fonts/opensans-light.woff) format('woff'),
      url(fonts/opensans-light.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
      url(fonts/opensans-semibold.woff) format('woff'),
      url(fonts/opensans-semibold.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
      url(fonts/opensans-lightitalic.woff) format('woff'),
      url(fonts/opensans-lightitalic.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"),
      url(fonts/opensans-semibolditalic.woff) format('woff'),
      url(fonts/opensans-semibolditalic.ttf) format('truetype');
}

@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans"), local("DroidSans"),
      url(fonts/droidsans.woff) format('woff');
}

@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"),
      url(fonts/droidsans-bold.woff) format('woff');
}

html {
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  background-color: transparent;
  min-width: 1100px;
}

body.droid {
  font-family: "Droid Sans";
}

nav {
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: 160px 35px;
  height: 44px;
  color: #460e54;
  line-height: 44px;
  text-align: right;
  font-size: 14pt;
  width: 1100px;
  margin: 0 auto;
}

nav::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  z-index: -1;
  background-color: #fffbfb;
}

nav::before {
  display: inline-block;
  content: "Sandstorm.io";
  padding-left: 50px;
  float: left;
  margin: 0;
}

nav>a {
  display: inline-block;
  padding: 0 32px;
  text-decoration: none;
  color: #460e54;
}

header {
  color: white;
  padding-left: 475px;
  padding-right: 75px;
  height: 484px;
  overflow: hidden;
  text-align: center;
  width: 550px;
  margin: 0 auto;
}

header::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 484px;
  background-image: url(images/sandcat-bg.svg);
  background-position: top center;
  background-size: 2868px 484px;
  background-color: #996da5;
  z-index: -1;
  min-width: 1100px;
}

header>h1 {
  font-size: 28pt;
  margin-top: 2em;
  color: #fffbfb;
  font-weight: normal;
}

header>p {
  font-size: 23pt;
  color: #ffd4ec;
  margin-left: 50px;
  margin-right: 50px;
}

a.button {
  display: inline-block;
  background-color: #783189;
  margin: 1em auto;
  color: #fffbfb;
  width: 310px;
  padding: 4px 0;
  border-radius: 10px;
  font-size: 24pt;
  text-decoration: none;
}

header>a.demo-button {
  display: block;
  color: #6f2782;
  background-color: #ffd4ec;
  margin-bottom: 0;
  width: 230px;
  height: 50px;
  line-height: 50px;
  font-size: 22pt;
}

header>div.action-button {
  display: inline-block;
  width: 200px;
  color: #ffe8f5;
  padding: 0 10px 1em;
  vertical-align: top;
}

header>div.action-or {
  display: inline-block;
  width: 40px;
  color: #ffe8f5;
  text-align: center;
  vertical-align: top;
  padding-top: 10px;
}

header>div.action-button>a.button {
  display: block;
  font-size: 14pt;
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 8px;
}

header>table.fork {
  width: 270px;
  height: 50px;
  margin: 8px auto;
  border-collapse: collapse;
}

header>table.fork tr td {
  border: 0px solid #d3a5c8;
}

header>table.fork tr:first-child td:first-child { border-width: 0 1px 1px 0; }
header>table.fork tr:first-child td:last-child  { border-width: 0 0 1px 1px; }
header>table.fork tr:last-child  td:first-child { border-width: 1px 0 0 1px; }
header>table.fork tr:last-child  td:last-child  { border-width: 1px 1px 0 0; }

header>form {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  color: #ffd4ec;
  padding-top: 4px;
}

header>form>p {
  margin: 0 0;
  font-size: 12pt;
}

header>form>input {
  height: 2em;
  border: none;
  font-size: 14pt;
  padding: 0 8px;
  height: 32px;
}

header>form>input[type="email"] {
  background-color: #fffbfb;
  color: #ae72b1;
  width: 150px;
}

header>form>input[type="submit"] {
  background-color: #ffd4ec;
  color: #ae72b1;
}

header>form>input[type="email"]::-webkit-input-placeholder { color: #ae82b7; }
header>form>input[type="email"]::-moz-placeholder { color: #ae82b7; }
header>form>input[type="email"]:-ms-input-placeholder { color: #ae82b7; }

header>ul#social {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding-left: 20px;
}

header>ul#social>li {
  display: inline-block;
  list-style-type: none;
  padding: 0 4px;
  vertical-align: bottom;
}

header>ul#social>li>a {
  display: block;
  color: transparent;
  width: 42px;
  height: 42px;
  background-color: #ffd4ec;
  overflow: hidden;
  border-radius: 50%;
}

header>ul#social>li>a:hover {
  background-color: #fffbfb;
}

header>ul#social>li#twitter>a { background-image: url(images/twitter.svg); }
header>ul#social>li#google-plus>a { background-image: url(images/google-plus.svg); }
header>ul#social>li#facebook>a { background-image: url(images/facebook.svg); }

/* For browsers that don't recognize these. */
details { display: block; }
summary { display: block; }

/* For browsers that do. */
summary:focus { outline: none; }

/* ==================================================================================== */

section.tabs {
  margin-top: 50px;
  -webkit-transition: height 200ms;
  transition: height 200ms;
  text-align: center;
  width: 100%;
  font-size: 0;
}

section.tabs>section {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  font-size: 11pt;
  cursor: pointer;
  text-align: left;
}

section.tabs>section>h3 {
  text-align: center;
  color: #2d0f70;
  font-weight: normal;
  font-size: 18pt;
  margin: 0.5em 0;
}

section.tabs>section>details>summary::-webkit-details-marker {
  display: none;
}

section.tabs>section>details>div {
  position: absolute;
  margin: -1px 0 0;
  display: none;
  overflow: hidden;
  cursor: auto;
  left: 0;
  right: 0;

  -webkit-transition: height 200ms;
  transition: height 200ms;
}

section.tabs>section>details>div>div {
  padding: 25px 0;
}

/* ==================================================================================== */

#principles {
  height: 300px;
}

#principles>h2 {
  display: none;
}

#principles>section {
  width: 250px;
  padding: 0 37px;
}

#principles>section::before {
  content: " ";
  display: block;
  height: 150px;
  background-repeat: no-repeat;
  background-position: top;
}

#principles>section>details>summary {
  color: #47314c;
}

#principles>section>details>summary::after {
  content: " ";
  display: block;
  background-image: url(images/caret.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 10px;
  padding: 16px;
  margin: 0 auto;
}

#principles>section>details[open]>summary::after {
  background-image: url(images/tri.svg);
  width: 80px;
  height: 30px;
  margin: 20px auto 0;
  position: relative;
  padding: 0;
}

#principles>section>details[open="closing"]>summary::after {
  background-image: none;
}

#principles>section>details>div {
  background-color: #eee5f0;
  color: #562b60;
  height: 0px;
}

#principles>section>details>div>div {
  width: 700px;
  padding: 25px 200px;
  margin: 0 auto;
}

#principles>section>details>div>div::before {
  display: block;
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  height: 85px;
}

#principles>section:nth-of-type(1)>h3 { left: 100px; }
#principles>section:nth-of-type(2)>h3 { left: 425px; }
#principles>section:nth-of-type(3)>h3 { left: 750px; }
#principles>section:nth-of-type(1)>details>summary { left: 100px; }
#principles>section:nth-of-type(2)>details>summary { left: 425px; }
#principles>section:nth-of-type(3)>details>summary { left: 750px; }

#usability::before { background-image: url(images/usability.svg); }
#security::before  { background-image: url(images/security.svg); }
#freedom::before   { background-image: url(images/freedom.svg); }

#usability>details>div>div::before { background-image: url(images/usability-mono.svg); }
#security>details>div>div::before  { background-image: url(images/security-mono.svg); }
#freedom>details>div>div::before   { background-image: url(images/freedom-mono.svg); }

/* ==================================================================================== */

#users {
  height: 850px;
  background: none;
}

#users::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 350px;
  background: linear-gradient(#ffffff, #e7e2e8);
}

#users>h2 {
  color: #764e7f;
  font-weight: normal;
  text-align: center;
  font-size: 25pt;
  position: relative;
  z-index: 1;
}

#users>section {
  width: 350px;
  color: #562b60;
}

#users>section::before {
  content: " ";
  display: block;
  position: relative;
  z-index: 1;
  background-size: 250px 200px;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 200px;
}

#users>section>h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 8px 0 4px;
  color: #764e7f;
  margin-bottom: -1px;  /* fix seam on Android */
}

#users>section>details>summary {
  display: none;
}

#users>section>details::before {
  content: " ";
  display: block;
  position: relative;
  z-index: 1;
  background-image: url("images/caret.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  width: 100%;
  height: 11px;
  padding: 4px 0;
  margin: 0 auto;
}

#users>section>details[open]::before {
  background-image: none;
}

#users>section>details>div {
  display: none;
  padding: 0 0;
}

#users>section>details>div>div {
  width: 1100px;
  margin: 0 auto;
}
#users>section>details[open]>div {
  display: block;
  height: 540px;
  z-index: 3;
}

#users>section>details>div>div>p {
  text-align: center;
  font-size: 24pt;
}

#users>section>details ul {
  margin: 0;
  text-align: center;
}

#users>section>details ul>li {
  display: inline-block;
  width: 270px;
  height: 270px;
  text-align: left;
  vertical-align: top;
  padding: 0 15px 0 50px;

  background-position: top left;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

#users>section>details ul>li a {
  color: inherit;
}

#users>section>details ul>li>h4 {
  display: block;
  font-size: 16pt;
  margin: 6px 0 1em;
}

#users>section:nth-of-type(1)>* { background-color: #f1e9f2; }
#users>section:nth-of-type(2)>* { background-color: #e8d6ea; }
#users>section:nth-of-type(3)>* { background-color: #dacae5; }

#users>section:nth-of-type(1)>details>div { background-color: #f1e9f2; }
#users>section:nth-of-type(2)>details>div { background-color: #e8d6ea; }
#users>section:nth-of-type(3)>details>div { background-color: #dacae5; }

#individuals::before { background-image: url(images/individual.svg); }
#developers::before  { background-image: url(images/developer.svg); }
#enterprise::before  { background-image: url(images/enterprise.svg); }

#individuals>details ul>li:nth-of-type(1) { background-image: url(images/icon-lotsofapps.svg); }
#individuals>details ul>li:nth-of-type(2) { background-image: url(images/icon-privacy.svg); }
#individuals>details ul>li:nth-of-type(3) { background-image: url(images/icon-lockedin.svg); }

#developers>details ul>li:nth-of-type(1) { background-image: url(images/icon-product.svg); }
#developers>details ul>li:nth-of-type(2) { background-image: url(images/icon-security-builtin.svg); }
#developers>details ul>li:nth-of-type(3) { background-image: url(images/icon-firewall.svg); }

#enterprise>details ul>li:nth-of-type(1) { background-image: url(images/icon-easy.svg); }
#enterprise>details ul>li:nth-of-type(2) { background-image: url(images/icon-secure.svg); }
#enterprise>details ul>li:nth-of-type(3) { background-image: url(images/icon-cluster.svg); }

/* ==================================================================================== */

#press {
  overflow: hidden;
  height: 228px;
  width: 1000px;
  padding: 0 50px;
  margin: 0 auto;
}

#press::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: -1;
  height: 228px;
  left: 0;
  right: 0;
  background-image: url(images/dune2.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 1350px 96px;
  background-color: #f1e9f2;
  min-width: 1100px;
}

#press>h2 {
  border-bottom: 1px solid #d2c6e5;
  font-weight: normal;
  font-size: 25pt;
  color: #764e7f;
  margin: 48px 0 0;
}

#press>ul {
  text-align: center;
  padding: 10px 0 0;
}

#press>ul>li {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  padding: 0 30px;
}

#press>ul>li>a {
  display: block;
  height: 65px;
  color: transparent;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

#gigaom>a         { width: 170px; background-image: url(images/press-gigaom.png); }
#techcrunch>a     { width:  94px; background-image: url(images/press-techcrunch.png); }
#wired>a          { width: 170px; background-image: url(images/press-wired.png); }
#lwn>a            { width:  83px; background-image: url(images/press-lwn.png); }
#opensource-com>a { width:  73px; background-image: url(images/press-opensource.png); }

/* ==================================================================================== */

#team {
  overflow: hidden;
  position: relative;
  height: 1970px;
  width: 1100px;
  margin: 0 auto;
}

#team-bg {
  position: absolute;
  z-index: -1;
  background-color: #996da5;
  background: #996da5 url(images/team-bg.svg) repeat-x top right / 1px 1150px;
  left: 0;
  right: 0;
  height: 1970px;
  min-width: 1100px;
}

#team-bg::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  background: url(images/stars-wide.svg) no-repeat top center / 2200px 1014px;
  left: 0;
  right: 0;
  height: 1150px;
}

#team>h2 {
  margin-top: 2em;
  text-align: center;
  font-weight: normal;
  font-size: 40pt;
  color: white;
  margin-bottom: 0;
}

#team>section {
  background-color: white;
  position: absolute;
  left: 100px;
  right: 100px;
  top: 250px;
  height: 640px;
  text-align: left;
  padding: 60px 60px 0;
  z-index: 1;
}

#team>section::before {
  content: " ";
  position: absolute;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
}

#team>section>h3 {
  position: absolute;
  margin: 0;
  top: -1.75em;
  color: #c4a3c4;
  font-size: 20pt;
  text-align: left;
  cursor: pointer;
  font-weight: normal;
}

#team>section[data-selected] {
  z-index: 2;
}

#team>section[data-selected]>h3 {
  color: #f4f4f4;
}

#team>section:nth-of-type(1)>h3 { left: 0px; }
#team>section:nth-of-type(2)>h3 { left: 200px; }

section.nametag {
  display: inline-block;
  position: relative;
  z-index: 2;
  vertical-align: top;
  width: 235px;
  height: 122px;
  margin: 0 0 28px;
  text-align: left;
  padding-left: 150px;
  color: #695b77;
  font-size: 12pt;
}

section.nametag a {
  color: inherit;
}

section.nametag>h4 {
  color: #2e1147;
  font-size: 18pt;
  margin: -4px 0 0;
}
section.nametag>h4>a {
  text-decoration: none;
}

section.nametag>ul.credentials {
  padding: 0;
  margin: 0.25em 0;
}
section.nametag>ul.credentials>li {
  list-style-type: none;
}

section.nametag>ul.social {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}
section.nametag>ul.social>li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}

section.nametag>ul.social>li>a {
  display: block;
  color: transparent;
  overflow: hidden;
  background-color: #ffe9f7;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 4px;
}

section.nametag>h4>a::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 122px;
  background-position: left;
  background-repeat: no-repeat;
}

section.nametag>ul.social>li.twitter>a { background-image: url(images/twitter.svg); }
section.nametag>ul.social>li.google-plus>a { background-image: url(images/google-plus.svg); }

#kenton>h4>a::before { background-image: url(images/people/kenton.png); }
#jade>h4>a::before   { background-image: url(images/people/jade.png); }
#jason>h4>a::before  { background-image: url(images/people/jason.png); }
#david>h4>a::before  { background-image: url(images/people/david.png); }
#asheesh>h4>a::before{ background-image: url(images/people/asheesh.png); }
#nena>h4>a::before   { background-image: url(images/people/nena.png); }
#garply>h4>a::before { background-image: url(images/people/garply.png); }

#luto>h4>a::before     { background-image: url(images/people/luto.png); }
#swetland>h4>a::before { background-image: url(images/people/swetland.png); }
#jasvir>h4>a::before   { background-image: url(images/people/jasvir.png); }
#seaborn>h4>a::before  { background-image: url(images/people/seaborn.png); }
#miller>h4>a::before   { background-image: url(images/people/miller.png); }

#audrey>h4>a::before { background-image: url(images/people/audrey.png); }
#wagner>h4>a::before { background-image: url(images/people/wagner.png); }

/* ==================================================================================== */

#sponsors {
  position: relative;
  height: 0px;
  width: 1100px;
  margin: 0 auto;
}

#sponsors>h2 {
  position: absolute;
  margin: 0;
  background-color: white;
  color: transparent;
  position: relative;
  left: 100px;
  width: 900px;
  top: -930px;
  height: 825px;
  text-align: left;
  padding: 0;
  z-index: 1;
}

#sponsors>h2::before {
  content: " ";
  position: absolute;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#sponsors>section {
  position: absolute;
  top: -870px;
  z-index: 2;
  width: 359px;
  height: 705px;
  text-align: center;
  color: #2e1147;
}

#sponsors>section:nth-of-type(1) { left:  160px; padding-right: 30px; border-right: 1px solid #d2c6e5; }
#sponsors>section:nth-of-type(2) { right: 160px; padding-left:  30px; border-left:  1px solid #d2c6e5; }

#sponsors>section>h3 {
  font-weight: normal;
  font-size: 23pt;
  margin: 0.5em 0;
}

#sponsors>section>p {
  margin: 1em 0 30px;
}

#sponsors>section>ul {
  padding: 0;
}

#sponsors>section>ul>li {
  list-style-type: none;
}

#sponsors>section>ul>li>a {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  margin-top: 30px;
}

#draw-io>a     { height: 180px; background-image: url(thirdparty/draw.io-logo.svg); }
#humanweb>a    { height:  78px; background-image: url(thirdparty/humanweb.png); }
#uniregistry>a { height: 240px; background-image: url(thirdparty/uniregistry.svg); }

/* ==================================================================================== */

#contributors {
  width: 100%;
  background-color: #4d2856;
  color: white;
  text-align: center;
  position: relative;
  border-top: 1px solid #4d2856;
}

#contributors>h2 {
  font-weight: normal;
  font-size: 25pt;
  width: 900px;
  margin: 36px auto 1em;
  position: relative;
}

#contributors>h2::after {
  content: " ";
  display: block;
  height: 20px;
  width: 860px;
  border-bottom: 1px solid #b19fc2;
}

#contributors::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  top: -104px;
  background-image: url(images/tents2.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1200px 230px;
  width: 100%;
  height: 230px;
}

#contributors>p {
  display: none;
}

#contributors>ul {
  color: #a993af;
  padding: 0;
  width: 920px;
  margin: 0 auto;
  line-height: 14px;
  text-align: justify;
}

#contributors>ul>li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  font-size: 10pt;
}

#anonymous {
  font-weight: bold;
}

/* ==================================================================================== */

footer {
  background-color: #4d2856;
  overflow: hidden;
  margin-top: -1px;  /* fix seam on Android */
  color: white;
}

footer>h2 {
  text-align: center;
  font-size: 25pt;
  font-weight: normal;
  margin: 36px auto 1em;
}

footer>h2::before {
  content: " ";
  display: inline-block;
  background-image: url(images/logo-white.svg);
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  vertical-align: bottom;
  margin-right: -20px;
}

footer>ul {
  padding: 0;
  width: 900px;
  margin: 60px auto 0;
  border-top: 1px solid #b19fc2;
  text-align: center;
}

footer>ul>li {
  list-style-type: none;
  display: inline-block;
  margin: 1em 60px;
}

footer>ul>li>a {
  color: white;
  text-decoration: none;
}

footer>p {
  padding: 0;
  margin: 0 100px 30px;
  text-align: center;
  color: #a993af;
}
