---
---

// TODO: Serve our own copies of the fonts? A lot of people will have it cached.
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic);

@import "bootstrap/normalize";

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

nav, header>*, section>*, footer>* {
  margin: 0 auto;
  width: 1140px;
}

nav {
  height: 48px;
  text-align: right;
  font-size: 16px;

  >a {
    display: inline-block;
    height: 100%;
    padding: 0 16px;
    line-height: 48px;

    color: black;
    text-decoration: none;

    &:first-child {
      float: left;
    }

    &:hover {
      background-color: #eee;
    }
  }
}

#what {
  >ul {
    >li {
    }
  }
}

footer {
  >ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    >li {
      display: block;
      flex: 1 1 33%;

      @media (max-width: 700px) {
        flex: 1 1 100%;
      }
    }
  }
}
