<div class="sidebar">
  <ul class="socialmedia">
    <li><a class="twitter" href="https://twitter.com/SandstormIO">Twitter</a>
    <li><a class="facebook" href="https://www.facebook.com/sandstorm.io" target="blank">Facebook</a>
    <li><a class="google" href="https://plus.google.com/+SandstormIo" target="_blank">Google</a>
    <li><a class="github" href="https://github.com/sandstorm-io/sandstorm" target="_blank">Github</a>
  </ul>

  <div class="more">
    <a href="/get">
      Sandstorm is a self-hostable web productivity suite.
      <span class="selfhost" href="/install">Host your own</span>
    </a>

    <h3>Recommended Posts</h3>
    <ul>
      <li><a href="/news/2014-07-21-open-source-web-apps-require-federated-hosting">Open Source Web Apps Aren't Viable; Let's Fix That</a></li>
      <li><a href="/news/2016-02-29-security-track-record">Sandstorm's security track record, and what it means for self-hosting</a></li>
      <li><a href="/news/2016-08-17-decentralization-is-about-diversity">Decentralization is about diversity</a></li>
      <li><a href="/news/2016-01-22-8-new-open-source-apps.html">8 New open source self-hostable apps</a></li>
      <li><a href="/news/2016-04-06-sandstorm-for-work">Sandstorm for Work Beta: LDAP, SAML, organization management</a></li>
      <li><a href="/news/2016-02-05-app-author-publicity-oasis">Free publicity for your indie web app, and free Oasis service for you</a></li>
      <li><a href="/news/2015-10-01-free-ssl-certificates.html">Free, automated SSL certificates for Sandstorm self-hosters</a></li>
      <li><a href="/news/2014-08-19-why-not-run-docker-apps.html">Why doesn't Sandstorm just run Docker apps?</a></li>
      <li><a href="/news/2015-05-05-delegation-is-the-cornerstone-of-civilization.html">Understand the Sandstorm sharing model</a></li>
    </ul>

    <h3>Further Reading</h3>
      <ul>
        <li><a href="/how-it-works">How Sandstorm Works</a></li>
        <li><a href="http://docs.sandstorm.io">Sandstorm Documentation</a></li>
        <li><a href="/install">How to install Sandstorm</a></li>
      </ul>
  </div>
</div>
