<div class="sidebar">
  <ul class="socialmedia">
    <li><a class="twitter" href="https://twitter.com/SandstormIO">Twitter</a>
    <li><a class="facebook" href="https://www.facebook.com/sandstorm.io" target="blank">Facebook</a>
    <li><a class="google" href="https://plus.google.com/+SandstormIo" target="_blank">Google</a>
    <li><a class="github" href="https://github.com/sandstorm-io/sandstorm" target="_blank">Github</a>
  </ul>

  <div class="more">
    <form id="signup" action="https://sandstorm.us7.list-manage.com/subscribe/post?u=1a036c5ea0fc3c215793748ed&amp;id=5d9399a0af" method="post">
      Join our mailing list for updates<br>
      <input type="email" name="EMAIL" placeholder="E-mail" required><input type="submit" value="Submit">
    </form>
    <a href="/get">
      Sandstorm is an open source operating system for personal and private clouds.
      <span class="signup" href="https://oasis.sandstorm.io">Sign up for free</span>
      <span class="selfhost" href="/install">or host your own</span>
    </a>
  </div>
</div>
