/* Responsive classes to throw away some navigation as needed. */
@media only screen and (max-width: 768px) {
  .md {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .lg {
    display: none;
  }
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"),
      url(/fonts/opensans-light.woff) format('woff'),
      url(/fonts/opensans-light.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
      url(/fonts/opensans-semibold.woff) format('woff'),
      url(/fonts/opensans-semibold.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
      url(/fonts/opensans-lightitalic.woff) format('woff'),
      url(/fonts/opensans-lightitalic.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"),
      url(/fonts/opensans-semibolditalic.woff) format('woff'),
      url(/fonts/opensans-semibolditalic.ttf) format('truetype');
}

@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Source Sans Light"), local("SourceSans-Light"),
      url(/fonts/sourcesans-light.woff) format('woff'),
      url(/fonts/sourcesans-light.ttf) format('truetype');
}

@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Source Sans"), local("SourceSans"),
      url(/fonts/sourcesans-regular.woff) format('woff'),
      url(/fonts/sourcesans-regular.ttf) format('truetype');
}

nav {
  font-family: "Open Sans", sans-serif;
  background-image: url(/images/logo.svg);
  background-repeat: no-repeat;
  background-size: 160px 35px;
  height: 44px;
  color: #460e54;
  line-height: 44px;
  text-align: right;
  font-size: 14pt;
  max-width: 1100px;
  margin: 0 auto;
}

nav::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  z-index: -1;
  background-color: #fffbfb;
}

nav>a {
  display: inline-block;
  padding: 0 32px;
  text-decoration: none;
  color: #460e54;
}

nav>a:first-of-type {
  padding-left: 50px;
  float: left;
  margin: 0;
}

header {
  width: 100%;
  display: table;
  min-height: 200px;
  background-color: #783189;
  background: linear-gradient(#281E43, #8964A7);
  margin: 0px;
}

/* hackery to vertically align the contents like a table */
header>div {
  font-family: "Open Sans", sans-serif;
  display: table-cell;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: white;
}

header>div>h1 {
  font-size: 48px;
  margin-top: 48px;
  margin-bottom: 0px;
}

header>div>h1::before {
  content: " ";
  display: inline-block;
  background-image: url(/images/logo-white.svg);
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  margin-right: -20px;
}

header>div>p {
  color: #FFD4EC;
  font-weight: 300;
  margin-top: 0.25em;
  font-size: 28px;
  margin-bottom: 37px;
}

body {
  font-family: "Source Sans", sans-serif;
  margin: 0px;
  font-size: 22px;
}

section {
  margin: 64px auto;
  max-width: 1000px;
  box-sizing: border-box;
}

#intro {
  text-align: center;
}
#intro>h2 { font-size: 30px; font-weight: normal; }
#intro>p { padding: 0 32px; }

#requirements {
  background-color: #F0EDF7;
  padding: calc(32px - 1em) 32px;
}

.section-content {
  border: 1px solid #F0EDF7;
  padding: calc(24px - 1em) 24px;
  box-sizing: border-box;
  margin: 1em 0;
}

@media screen and (min-width: 900px) {
  #https-verified {
    float: left;
    width: 60%;
    margin-bottom: 0;
  }
  #pgp-verified {
    float: right;
    width: 35%;
    margin-bottom: 0;
  }

  #download::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

#pgp-verified>a {
  display: block;
  margin: 0 0 1em;
  background-color: #f0edf7;
  font-size: 30px;
  text-align: center;
  padding: 8px 0;
  text-decoration: none;
  color: #6A237C;
}

h2, h3 {
  color: #6A237C;
}

p {
  color: #6A237C;
}

hr {
  max-width: 400px;
  border: 0px;
}

p#title {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
  font-size: 34px;
}

p.textbody {
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 150%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

p.secondary {
  color: #9c83aa;
}

p > a {
  color: #943E9B;
  font-weight: bold;
  text-decoration: none;
}

pre {
  font-size: 16px;
  text-align: center;
  padding: 16px 0;
  background-color: #EFEFEF;
  border: 1px solid #c4c4c4;
  overflow-x: auto;
}
