body {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 300;
  font-size: 110%;
  line-height: 1.5;
  color: #524444;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 600;
}

b {
  font-weight: 600;
}

a {
  color: #428bca;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #0094ff;
  font-weight: 600;
  text-decoration: none;
}

svg {
  width: 400px;
  height: 300px;
}

.center-block {
  width: 800px;
  margin: 8px auto;
}

header {
  background-color: #f3ebe0;
  line-height: 1;
  padding: 32px 0 0;
  margin: 0;
  padding-bottom: 32px;
  margin-bottom: 32px;
/*  border-bottom: 2px solid #a49f97; */
}

header #crowdfunding {
  display: block;
  text-align: center;
  margin-top: 32px;
  padding: 16px;
  font-size: 24pt;

  border-top: 4px solid #eb1478;
  border-bottom: 4px solid #eb1478;
  color: #eb1478;
  background-color: white;
}
header #crowdfunding:hover div {
  text-decoration: underline;
}

header h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
}

header p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2em;
  text-align: center;
}

header .sublinks {
  margin: 8px;
  font-size: 1.2em;
  text-align: center;
}

header h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
}

section {
  overflow: hidden;
}

section:after {
  content: "";
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #a49f97;
}

section>p {
  max-width: 800px;
  margin: 1em auto;
}

section>.bigquote {
  max-width: 800px;
  margin: 32px auto;
  text-align: center;
  font-size: 175%;
  padding: 0 16px 0 32px;
  font-weight: 600;
}

/*section:nth-child(2n+1) {
  background-color: #f4f4f4;
}*/

section.press>p {
  width: 800px;
  margin: 32px auto;
  font-size: 120%;
}
section.press>p span.img {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  text-align: center;
}
section.press>p span.headline {
  display: inline-block;
  vertical-align: middle;
  width: 450px;
  text-align: left;
}

section.press>p a {
  color: inherit;
}

@media screen and (max-width: 800px) {
  section.press>p {
    width: auto;
    margin: 32px 16px;
  }
  section.press>p span.img {
    display: block;
    width: auto;
  }
  section.press>p span.headline {
    display: block;
    width: auto;
    text-align: center;
  }
}

#logo {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding-left: 80px;
}

.static-logo {
  background-image:url("logo.png");
  background-repeat:no-repeat;
}

.dynamic-logo {
  cursor: pointer;
}

h2 {
  font-size: 3em;
  text-align: center;
}

section>h2 {
  margin-bottom: 0;
}

section>p {
  text-align: center;
  padding: 0 16px;
}

.row, .row-wide {
  text-align: center;
  margin: 0 auto;
  max-width: 1100px;
}

@media screen and (max-width: 1024px) {
  /* Don't display two boxes followed by one. */
  .row, .row-wide {
    max-width: 450px;
  }

  .row>.column {
    width: 400px;
  }
}

.column {
  padding: 16px;
  display: inline-block;
  text-align: left;
  width: 300px;
  vertical-align: top;
}

.row-wide>.column {
  width: 400px;
}

.bigpill {
  width: 800px;
  margin: 32px auto;
}

.bigpill:nth-child(2n) { /* Internet Explorer 10 */ /* Firefox */ /* Safari */ /* Chrome */
  display: flex;

  flex-direction: row;
}

.bigpill:nth-child(2n+1)>h2 {
  border-right: 1px solid #a49f97;
}
.bigpill:nth-child(2n)>h2 {
  border-left: 1px solid #a49f97; /* Internet Explorer 10 */ /* Firefox */ /* Safari */ /* Chrome */
  order: 3;
}

.bigpill h2 {
  margin: auto;
  width: 320px;
  padding: 16px;
  display: inline-block;
  vertical-align: middle;
}

.bigpill p {
  margin: auto;
  width: 400px;
  padding: 16px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .bigpill {
    width: auto;
  }
  .bigpill:nth-child(2n) {
    display: block;
  }

  .bigpill h2 {
    text-align: center;
    width: 300px;
    display: block;
    border-bottom: 1px solid #ba9;
    font-size: 2.5em;
  }
  .bigpill:nth-child(2n+1)>h2 {
    border-right: none;
  }
  .bigpill:nth-child(2n)>h2 {
    border-left: none;
  }
  .bigpill p {
    width: 300px;
    display: block;
  }

  h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 3em;
  }
}

#signup-form {
  padding: 8px;
  max-width: 430px;
  margin: 32px auto;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

div.indiegogo-embed {
  width: 220px;
  height: 80px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

div.indiegogo-embed>iframe {
  width: 222px;
  height: 445px;
  position: absolute;
  bottom: -1px;
  left: -1px;
}

#crowdfunding2 {
  padding: 8px;
  width: 430px;
  margin: 32px auto;
  display: inline-block;
  height: 226px;
  vertical-align: middle;
  position: relative;
}

#crowdfunding2>div:last-child {
  margin: 0 auto;
}

#crowdfunding2>div:last-child a {
  background-color: #eb1478;
  padding: 10px 16px;
  font-size: 200%;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 300;
  text-align: middle;
  display: inline-block;
}

#crowdfunding2 a {
  color: #eb1478;
}
#crowdfunding2 a:hover {
  color: #ff79b7;
}

#signup-form.glowing-border {
  box-shadow: 0 0 10px #cf974a;
}

#signup-form h3, #crowdfunding2 h3 {
  margin: 8px 16px 8px;
  text-align: center;
  font-size: 2.5em;
  line-height: 1;
}

#signup-form p, #crowdfunding2 p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1em;
  text-align: center;
}

#signup-form input[type="email"] {
  background-color: white;
  border: 2px solid #a49f97;
  border-radius: 4px;
  padding: 4px;
  width: 422px;
  font-size: 120%;
  margin-bottom: 8px;
  color: inherit;
  font-family: inherit;
}

#signup-form input[type="submit"] {
  font-family: inherit;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 200%;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

#apps {
  margin: 16px;
}

.app {
  background-color: #eee;
  padding: 16px;
  margin: 32px;
  max-width: 800px;
  border-radius: 6px;
}

.app h3 {
  font-size: 2em;
  margin-top: 0;
}

.app button {
  font-family: inherit;
  float: right;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

.app button:disabled {
  background-color: #888;
  cursor: inherit;
}

.app .app-details {
  float: right;
  width: 275px;
  border-left: 1px solid #888;
  padding: 0 8px;
  margin: 0 16px;
  font-size: 90%;
}

@media screen and (max-width: 600px) {
  .app .app-details {
    float: none;
    border-left: none;
    border-bottom: 1px solid #888;
    padding: 0 0 8px;
    margin: 0;
    width: 100%;
  }

  .app img {
    width: 100%;
  }
}

.app:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

header button {
  display: block;
  margin: 0 auto;

  font-family: inherit;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

a.link-button {
  font-family: inherit;
  background-color: #428bca;

  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;

  display: inline-block;
  width: 110px;
  text-align: center;
}

a.big-link-button {
  font-family: inherit;
  background-color: #428bca;

  padding: 10px 16px;
  border-radius: 6px;
  font-size: 175%;
  border: none;
  color: white;
  cursor: pointer;

  display: inline-block;
  text-align: center;
}

p.link-button-box {
  float: right;
}

.footer {
  text-align: center;
}

h3.footer {
  font-size: 40px;
  margin-bottom: 8px;
}

.nametags {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1900px) {
  /* Don't display three boxes followed by one. */
  .nametags {
    max-width: 1000px;
  }
}

.nametag {
  width: 450px;
  margin: 8px auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
}

.nametag img {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  margin: 25px;
  background-color: #ddd;
}

.nametag p {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 270px;
}

.corptags {
  text-align: center;
  margin: auto;
}

.corptag {
  text-align: center;
  width: 300px;
  height: 300px;
  display: inline-block;
}

.corptag img {
  max-width: 300px;
  max-height: 300px;
  vertical-align: middle;
}

#backers {
  list-style: none;
  text-align: center;
  padding: 0;
}

#backers li {
  display: inline-block;
  text-align: center;
  padding: 0 16px;
}

.nobr	{
  white-space:nowrap;
}

.open-source-only .proprietary {
  display: none;
}
