<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{page.title}}{%if layout.title %} - {{layout.title}}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% if page.imageUrl %}{{page.imageUrl}}{% else %}https://sandstorm.io/images/sandcat.png{% endif %}">
    <meta property="og:url" content="https://sandstorm.io{{page.url}}">
    <meta property="og:description"
        content="Take control of your web by running your own personal cloud server with Sandstorm.">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="alternate" type="application/rss+xml" title="Sandstorm.io Blog" href="{{site.baseurl}}feed.xml">
  </head>

{% if layout.id %}
  {% assign bodyid = layout.id %}
{% else %}
  {% assign bodyid = page.id %}
{% endif %}

  <body id="{{bodyid}}">
    <nav>
      <a href="/">Sandstorm.io</a>
      <a href="/get">Get Sandstorm</a>
      <a href="/features">Features</a>
      <a href="/how-it-works">Technology</a>
      <a href="/news/">Blog</a>
      <a href="https://docs.sandstorm.io">Docs</a>
      <a href="https://github.com/sandstorm-io/sandstorm">Code</a>
      <a href="/community">Community</a>
      <a href="/about">About</a>
      <!-- TODO: search -->
    </nav>

    {{ content }}

    <footer>
      <ul>
        <li>
          <h3><a href="/get">Get Sandstorm</a></h3>
          <ul>
            <li><a href="/get">Self-host Sandstorm</a>
            <li><a href="https://github.com/sandstorm-io/sandstorm">Source code (GitHub)</a>
            <li><a href="/go/education">For educators</a></li>
          </ul>
        </li>
        <li>
          <h3><a href="/features">Features</a></h3>
          <ul>
            <li><a href="https://apps.sandstorm.io">App Market</a></li>
            <li><a href="/features">Core features</a>
            <li><a href="/features#security">Security features</a>
            <li><a href="/business">For organizations</a>
            <li><a href="/developer">For developers</a>
          </ul>
        </li>
        <li>
          <h3><a href="https://docs.sandstorm.io">Documentation</a></h3>
          <ul>
            <li><a href="https://docs.sandstorm.io/en/latest/using/">How to use Sandstorm</a>
            <li><a href="https://docs.sandstorm.io/en/latest/developing/">Developer Hub</a>
            <li><a href="https://docs.sandstorm.io/en/latest/administering/">Administering &amp; installing</a>
            <li><a href="https://docs.sandstorm.io/en/latest/using/security-practices/">Security</a>
          </ul>
        </li>
        <li>
          <h3><a href="/how-it-works">Technology (How it Works)</a></h3>
          <ul>
            <li><a href="/how-it-works#grains">Fine-grained object containers</a>
            <li><a href="/how-it-works#capabilities">Capability-based security</a>
          </ul>
        </li>
        <li>
          <h3><a href="/community">Community</a></h3>
          <ul>
            <li><a href="/news">Sandstorm Blog</a>
            <li><a href="/community#connect-with">Connect with us</a>
            <li><a href="/community#helpothers">Help others</a>
            <li><a href="/community#helpproject">Help the project</a>
          </ul>
        </li>
        <li>
          <h3><a href="/about">About</a></h3>
          <ul>
            <li><a href="/about#team">Team</a>
            <li><a href="/about#history">History</a>
            <li><a href="/about#sponsors">Sponsors</a>
            <li><a href="https://groups.google.com/g/sandstorm-dev">Contact</a>
          </ul>
        </li>
        <li>
          <h3>Connect</h3>
          <ul id="socialmedia-small">
						<li><a class="twitter" href="https://twitter.com/SandstormIO"></a>
						<li><a class="github" href="https://github.com/sandstorm-io/sandstorm" target="_blank"></a>
  			</ul>
        </li>
        <li>
          <ul>
            <li><a href=""></a>
          </ul>
        </li>
      </ul>
      <p>This page was hand-crafted using only the finest web technologies.
    </footer>

    <!-- livereload, for development -->
    <script type="text/javascript">
      if (document.location.hostname === "localhost") {
        document.write('<script src="http://localhost:35729/livereload.js"></scr' + 'ipt>');
      }
    </script>
  </body>
</html>
